@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: "Main";
    src: url("../fonts/HelveticaNeue-Thin.ttf");
}

body {
    margin: 0;
    font-family: "Main";
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.main {
    display: flex;
    flex-direction: column;
    width: auto;
}

.side_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 120px;
}

.side_nav_logo {
    padding: 10px 10px;
    width: 80px;
    display: flex;
    flex-direction: column;
}

.content_link {
    display: block;
    margin: 5px 0 5px 20px;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.main_title{
    color: #333;
    font-size: 60px;
    text-align: center;
    padding: 300px 0 200px 0;
    margin: auto;
}

.card {
    position: relative;
    margin: 100px auto;
    width: 864px;
    height: 486px;
}

.title {
    background-color: #333;
    color: rgb(240, 240, 226);
    margin: 0;
    padding: 286px 0 20px 86px;
    width: auto;
    font-size: 50px;
}
.date {
    margin: 0;
    padding: 10px 0 62px 86px;
    width: auto;
    height: auto;
    border: 4px solid #333;
    font-size: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #333;
}

.card:hover .overlay {
    opacity: 1;
}

.text {
    color: rgb(240, 240, 226);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 80%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    text-align: center;
}