body {
    margin: 0;
    font-family: Verdana, sans-serif;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
  font-family: "Prata";
  src: url("../fonts/Prata-Regular.ttf");
}

@font-face {
  font-family: "Helvetica Neue UL";
  src: url("../fonts/HelveticaNeue-UltraLight.ttf");
}

@font-face {
  font-family: "Helvetica Neue T";
  src: url("../fonts/HelveticaNeue-Thin.ttf");
}

/**
    =============
    == SideNav ==
    =============
**/

/* The outer side navigation menu that stays on page*/
#outer_sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: 4px 0px 5px 0px #bbb;
    transition: 0.5s;
}

#sidenav_logo {
    width: 60px;
    padding: 10px;
    cursor: pointer;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow: hidden; /* Hide overflow text when closed*/
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    padding: 0;
    top: 0;
    right: 5px;
    font-size: 28px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidenav_gallery{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#sidenav_portfolio{
    position: absolute;
    bottom: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Headers in navigation menu */
.sidenav_header {
    margin: 2px 0 2px 15px;
    padding: 4px;
    font-size: 18px;
    color: #222;
    font-weight: bold;
}

/* Links in navigation menu */
.sidenav_link {
    margin: 2px 0 2px 20px;
    padding: 2px;
    text-decoration: none;
    font-size: 14px;
    color : #666;
}

.sidenav_link:hover {
    color: #333;
    text-decoration: underline;
}

/**
    =============
    ==== Main ===
    =============
**/

#psuedomain {
    transition: margin-left 0.5s;
}

#main {
    position: relative;
    margin-left: 80px;
}

#logo_container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: block;
    width: 100%;
    padding: 200px 0 200px 0;
    height: 200px;
}

#main_logo {
    height: 200px;
    display: block;
    margin: auto;
}

/**
    =====================
    ==== Gallery Item ===
    =====================
**/

.gallery_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: white;
    opacity: 0.95;
}

.gallery_item {
    height: 2000px;
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.item_title {
    text-align: center;
    font-family: "Prata";
    font-size: 36px;
}

.item_text {
    font-family: "Helvetica Neue T";
    font-size: 20px;
}
